{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid" style="margin-top: 100px; min-height: 480px;">
    <div class="col-sm-10 col-sm-offset-1" style="padding: 40px 0">
        <div class="col-sm-6 col-sm-offset-3 animated fadeIn" style="animation-duration: 4s;">
            <div class="panel" id="contact-panel">

                <form method="POST" action="."> {% csrf_token s%}
                    <div class="panel-heading text-center">
                        <h4 style="color: #003057; letter-spacing: 1px;"><b>Contact Me</b></h4>
                    </div>
                    <div class="panel-body">
                        {% if messages %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <ul class="messages" style="list-style: none;">
                                {% for message in messages %}
                                <li
                                        {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {{form|crispy}}
                    </div>
                    <div class="panel-footer">
                        <button type="submit" id="btn-send" class="btn btn-success">Send Message</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}