<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"> <b> <i class="fa fa-code" style="font-size: 26px;"></i> Ochieng Derrick</b> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'skill' %}">MY SKILLS</a></li>
                <li><a href="{% url 'work' %}">PORTFOLIO</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                <li>
                    <a href="tel:+254715810055">
                        <button id="btn-call" class="btn btn-sm" style="margin: -5px;">
                            <i class="fa fa-phone"></i>
                            Call Now
                        </button>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
